@import "~bootstrap/scss/bootstrap";

.home-row {
    background: url("../assets/home_photo.jpg") top;
    background-size: cover;

    height: calc(100vh - 56px);

    .home-wrapper {
        padding-top: 80px;
    }

    .home-text {
        letter-spacing: 1px;
        background-color: rgba(0, 0, 0, 0.4);

        > * {
            font-weight: 350;
        }
    }

    @include media-breakpoint-down(xs) {
        .home-text {
            position: absolute;
            bottom: 15px;
            width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
}
